<%= form_for([:admin, @person], html: { class: 'forms columnar' }) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul>

    <li>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </li>
    <li>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </li>
    <li>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </li>
    <li>
      <fieldset>
        <label>
          <%= f.check_box :is_admin %> Administrator
        </label>
      </fieldset>
    </li>
    <li class="form-section">Kennwort</li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <li>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </li>
    <li class="form-section"></li>

    <li class="push">
      <%= f.submit %>
    </li>

  </ul>

<% end %>
