<section class="container" id="people">

  <h1>Fahrer</h1>

  <table class="width-100 striped">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2">E-Mail</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= mail_to(person.email, nil, class: 'gray-dark') %></td>
        <td><%= link_to 'Show', [:admin, person] %></td>
        <td><%= link_to 'Edit', edit_admin_person_path(person) %></td>
        <td><%= link_to 'Destroy', [:admin, person], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Person', new_admin_person_path %>

</section>
