<% if has_auth? %>

  <div class="units-row container">

    <nav class="primary unit-66">
      <a href="/">Überblick</a>
      <a href="<%= News.link %>">News &amp; Rennberichte</a>
      <a href="<%= Event.link %>">Rennen</a>
      <% if has_admin? %>
        <a href="<%= Sponsor.link %>">Sponsoren</a>
        <a href="<%= Person.link %>">Fahrer</a>
        <a href="<%= Email.link %>">E-Mails</a>
      <% end %>
    </nav>

    <nav class="secondary unit-33" style="text-align: right">
      <a href="<%= current_person.editlink %>">Einstellungen</a>
      <a href="/logout">Abmelden</a>
    </nav>

  </div>

<% end %>
