<div id="email">

  <header class="units-row">
    <div class="unit-66">
      <a href="mailto:<%= email.email %>"><%= email.name %> &lt;<%= email.email %>&gt;</a>
    </div>
    <div class="unit-33 date">
      <%= email.date_formatted('%-d. %B %Y') %>
    </div>
  </header>

  <article class="row">
    <%= email.message_formatted %>
  </article>

</div>
