<div id="event">

  <%= erb :_errors, locals: { item: event } %>

  <form class="forms" action="<%= event.new? ? Event.createlink : event.savelink %>" method="post">

    <% unless event.new? %>
      <input type="hidden" name="_method" value="put"/>
    <% end %>

    <label>
      Datum <span class="req">*</span>
      <input type="date" name="event[date]" value="<%= event.date %>" placeholder="<%= today %>" required/>
    </label>

    <label>
      Bezeichnung <span class="req">*</span>
      <input type="text" name="event[title]" size="60" value="<%= h event.title %>" required/>
    </label>

    <% if has_admin? and !event.new? %>
    <label>
      Slug
      <input type="text" name="event[slug]" size="60" value="<%= event.slug %>"/>
    </label>
    <% end %>

    <label>
      Distanz <span class="req">*</span>
      <div class="input-groups width-10">
        <input type="text" name="event[distance]" size="3" value="<%= event.distance %>" placeholder="80" required/><span class="input-append">km</span>
      </div>
    </label>

    <label>
      URL
      <input type="url" name="event[url]" size="60" value="<%= event.url %>" placeholder="http://"/>
    </label>

    <label>
      <input type="hidden" name="event[is_hidden]" value="0"/>
      <input type="checkbox" name="event[is_hidden]" value="1"<% if event.is_hidden %> checked<% end %>/> Versteckt?
      <span class="color-gray">Versteckte Rennen werden nicht auf der Webseite gelistet.</span>
    </label>

    <% unless event.new? %>
    <fieldset>
      <legend>Teilnehmer</legend>

      <table class="width-100">
        <thead>
          <th colspan="2"></th>
          <th>Gesamt</th>
          <th>AK</th>
        </thead>
        <tbody>

          <% event.participations.each do |p| %>
            <tr>
              <td>
                <input type="checkbox" name="p[<%= p.person.id %>][person_id]" value="<%= p.person.id %>" id="person_<%= p.person.id %>" checked/>
              </td>
              <td>
                <label for="person_<%= p.person.id %>"><%= p.person.name %></label>
              </td>
              <td>
                <input type="text" name="p[<%= p.person.id %>][position_overall]" value="<%= p.position_overall %>" size="4"/>
              </td>
              <td>
                <input type="text" name="p[<%= p.person.id %>][position_age_class]" value="<%= p.position_age_class %>" size="4"/>
              </td>
            </tr>
          <% end %>

          <% event.non_participations.each do |p| %>
            <tr>
              <td>
                <input type="checkbox" name="p[<%= p.id %>][person_id]" id="person_<%= p.id %>" value="<%= p.id %>"/>
              </td>
              <td>
                <label for="person_<%= p.id %>"><%= p.name %></label>
              </td>
              <td>
                <input type="text" name="p[<%= p.id %>][position_overall]" size="4"/>
              </td>
              <td>
                <input type="text" name="p[<%= p.id %>][position_age_class]" size="4"/>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>

    </fieldset>
    <% end %>

    <p>
      <button class="btn btn-green" type="submit"><%= event.new? ? 'Anlegen' : 'Speichern' %></button>
      <% unless event.new? %>
        <a class="color-red delete" href="<%= event.deletelink %>" data-method="delete" data-confirm="Rennen entfernen?" rel="nofollow">Rennen entfernen</a>
      <% end %>
    </p>

  </form>

</div>
