<div id="events">

  <header class="units-row">
    <h2 class="unit-66"><%= title %></h2>
    <nav class="unit-33 secondary">
      <form action="<%= Event.createlink %>" method="post">
        <button class="btn btn-blue icon-plus">Neues Rennen</button>
      </form>
    </nav>
  </header>

  <table class="width-100">

    <thead>
      <tr>
        <th class="date">Datum</ht>
        <th colspan="2">Bezeichnung</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td colspan="3"><%= erb :_pagination, locals: { page_count: page_count, url: Event.link, page: page } %></td>
      </tr>
    </tfoot>

    <tbody>

      <% if events.each do |event| %>

        <tr>
          <td class="date"><%= event.date_formatted %></td>
          <td<% if event.is_hidden %> class="color-gray-light"<% end %>><%= event.title %></td>
          <td>
            <a class="icons" href="<%= event.editlink %>" title="Bearbeiten">&#x21;</a>
          </td>
        </tr>

      <% end.empty? %>

        <tr>
          <td colspan="3">Keine Rennen vorhanden</td>
        </tr>

      <% end %>

    </tbody>

  </table>

</div>
