<section id="dashboard">

  <header class="row">
    <h2>Überblick</h2>
  </header>

  <table class="width-100 striped">

    <thead>
      <tr>
        <th class="date">Datum</th>
        <th colspan="2">Rennen</th>
      </tr>
    </thead>

    <tbody>

      <% if events.each do |event| %>

        <tr id="event_<%= event.id %>">
          <td class="date"><%= event.date_formatted %></td>
          <td>
            <section><%= event.title %></section>
            <section class="gray small participations">
              <% event.participations.each do |p| %>
                <span<% if p.person == current_person %> class="current"<% end %>><%= p.person.name %></span>
              <% end %>
            </section>
          </td>
          <td>
            <input type="checkbox" data-url="<%= event.participationlink %>" data-event="event_<%= event.id %>"<% if event.participations.select { |p| p.person == current_person }.empty? %> data-method="post"<% else %> data-method="delete" checked<% end %>/>
          </td>
        </tr>

      <% end.empty? %>

        <tr>
          <td colspan="3">Keine Rennen vorhanden</td>
        </tr>

      <% end %>

    </tbody>

  </table>

</section>
