<div id="news">

  <header class="units-row">
    <h2 class="unit-66"><%= title %></h2>
    <nav class="unit-33 secondary">
      <form action="<%= News.createlink %>" method="post">
        <button class="btn btn-blue icon-plus">Anlegen</button>
      </form>
    </nav>
  </header>

  <table class="width-100">

    <thead>
      <tr>
        <th class="date">Datum</ht>
        <th colspan="2">Titel</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td colspan="3"><%= erb :_pagination, locals: { page_count: page_count, url: News.link, page: page } %></td>
      </tr>
    </tfoot>

    <tbody>

      <% if news.each do |n| %>

        <tr>
          <td class="date"><%= n.date_formatted %></td>
          <td><%= n.title %></td>
          <td>
            <a class="icons" href="<%= n.editlink %>" title="Bearbeiten">&#x21;</a>
          </td>
        </tr>

      <% end.empty? %>

        <tr>
          <td colspan="3">Keine Rennen vorhanden</td>
        </tr>

      <% end %>

    </tbody>

  </table>

</div>
