<div id="news">

  <%= erb :_errors, locals: { item: news } %>

  <form class="forms" action="<%= news.new? ? News.createlink : news.savelink %>" method="post">

    <% unless news.new? %>
      <input type="hidden" name="_method" value="put"/>
    <% end %>

    <label>
      Datum <span class="req">*</span>
      <input type="date" name="news[date]" value="<%= news.date %>" placeholder="<%= today %>" required/>
    </label>

    <label>
      Titel <span class="req">*</span>
      <input class="width-100" type="text" name="news[title]" size="60" required value="<%= news.title %>"/>
    </label>

    <% if has_admin? and !news.new? %>
    <label>
      Slug
      <input type="text" name="news[slug]" size="60" value="<%= news.slug %>"/>
    </label>
    <% end %>

    <label>
      Teaser <span class="req">*</span>
      <textarea class="width-100" name="news[teaser]" style="height: 54px" required><%= news.teaser %></textarea>
    </label>

    <label>
      Text
      <textarea class="width-100" name="news[message]" style="height: 387px"><%= news.message %></textarea>
      <div class="forms-desc">Text wird mit <a class="gray" href="http://daringfireball.net/projects/markdown/dingus" title="Markdown Web Dingus">Markdown</a> formatiert.</div>
    </label>

    <label>
      Author <span class="req">*</span>
      <select name="news[person_id]" size="1">
        <% people.each do |person| %>
          <option value="<%= person.id %>"<% if news.person == person %> selected="selected"<% end %>><%= person.name %></option>
        <% end %>
      </select>
    </label>

    <label>
      Rennen
      <select name="news[event_id]" size="1" class="width-60">
        <option value="">(leer)</option>
        <% events.each do |event| %>
          <option value="<%= event.id %>"<% if news.event == event %> selected="selected"<% end %>><%= event.date_formatted %> - <%= event.title %>, <%= event.distance %> km</option>
        <% end %>
      </select>
      <div class="forms-desc">Nur für Rennberichte</div>
    </label>

    <p>
      <button class="btn btn-green" type="submit"><%= news.new? ? 'Anlegen' : 'Speichern' %></button>
      <% unless news.new? %>
        <a class="color-red delete" href="<%= news.deletelink %>" data-method="delete" data-confirm="Nachricht oder Rennbericht löschen?" rel="nofollow">Eintrag entfernen</a>
      <% end %>
    </p>

  </form>

</div>
