<div id="person">

  <%= erb :_errors, locals: { item: person } %>

  <form class="forms" action="<%= person.new? ? Person.createlink : person.savelink %>" method="post">
    <% unless person.new? %>
      <input type="hidden" name="_method" value="put"/>
    <% end %>

    <label>
      Vorname <span class="req">*</span>
      <input type="text" name="person[first_name]" required value="<%= person.first_name %>"/>
    </label>

    <label>Nachname <span class="req">*</span>
      <input type="text" name="person[last_name]" required value="<%= person.last_name %>"/>
    </label>

    <label>
      E-Mail <span class="req">*</span>
      <input type="email" name="person[email]" size="40" required value="<%= person.email %>"/>
    </label>

    <% if has_admin? %>
    <label>
      Slug
      <input type="text" name="person[slug]" value="<%= person.slug %>" required />
    </label>

    <label>
      <input type="hidden" name="person[is_admin]" value="0"/>
      <input type="checkbox" name="person[is_admin]" value="1"<% if person.is_admin %> checked<% end %>/> Administrator
    </label>

    <label>
      <input type="hidden" name="person[is_active]" value="0"/>
      <input type="checkbox" name="person[is_active]" value="1"<% if person.is_active %> checked<% end %>/> Aktiv
    </label>
    <% end %>

    <hgroup>
      <h4>Kennwort ändern</h4>
      <h4 class="subheading">Nur ausfüllen, wenn Kennwort geändert werden soll.</h4>
    </hgroup>

    <label>
      Kennwort
      <input type="password" name="person[password]"/>
    </label>

    <label>
      Wiederholung
      <input type="password" name="person[password_confirmation]"/>
    </label>

    <p>
      <button class="btn btn-green" type="submit"><%= person.new? ? 'Anlegen' : 'Speichern' %></button>
      <% unless person.new? %>
        <a class="color-red delete" href="<%= person.deletelink %>" data-method="delete" data-confirm="Fahrer entfernen?" rel="nofollow">Fahrer entfernen</a>
      <% end %>
    </p>

  </form>

</div>
