<section id"sponsor">

  <%= erb :_errors, locals: { item: sponsor } %>

  <form class="forms" action="<%= sponsor.new? ? Sponsor.createlink : sponsor.savelink %>" method="post">
    <% unless sponsor.new? %>
      <input type="hidden" name="_method" value="put"/>
    <% end %>

    <label>
      Titel <span class="req">*</span>
      <input type="text" name="sponsor[title]" size="60" value="<%= sponsor.title %>" required/>
    </label>

    <label>
      Bild Url <span class="req">*</span>
      <input type="url" name="sponsor[image_url]" size="60" value="<%= sponsor.image_url %>" placeholder="http://" required/>
    </label>

    <label>
      Homepage
      <input type="url" name="sponsor[url]" size="60" value="<%= sponsor.url %>" placeholder="http://"/>
    </label>

    <label>
      Beschreibung
      <textarea class="width-100" name="sponsor[text]" style="height: 387px"><%= sponsor.text %></textarea>
    </label>

    <p>
      <button class="btn btn-green" type="submit"><%= sponsor.new? ? 'Anlegen' : 'Speichern' %></button>
      <% unless sponsor.new? %>
        <a class="color-red delete" href="<%= sponsor.deletelink %>" data-method="delete" data-confirm="Sponsor entfernen?" rel="nofollow">Sponsor entfernen</a>
      <% end %>
    </p>

  </form>

</section>
